<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <!-- <title>@ViewBag.Title</title> -->
    <title>Home Automation</title>

    <!-- Slider-->
    <script src="./Scripts/slider.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./Content/normalize.css">
    <link rel="stylesheet" type="text/css" href="./Content/style.css">
    <link rel="stylesheet" href="./Content/slider.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="./Scripts/main.js"></script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

</head>

<body>
    <header>
        <div id="headercontent">
            <h1 id="pagetitle">Home automation</h1>
            <nav><nav>
        </div>
    </header>

    <main>
        <div id="temp">
            <p>
                Outside the house:<br>
                <span id="outerTemp"></span>
                <br>Lastest mesurement
            </p>

            <table id="temperatures">
                <tr>
                    <!-- <th>ID</th> -->
                    <th>Outside Temperartures</th>
                    <th>Inside Temperartures</th>
                    <th>Date</th>
                </tr>
            </table>

            <p>
                Inside the house:<br>
                <span id="innerTemp"></span>
                <br>Lastest mesurement
            </p>
        </div>
        <div class="clear"></div>

        <div id="termostat">
            Please set the preffered temperature inside your house: 
            <form>
                <input type="text" name="preferredTemp" id="preferredTemp">
                <button>Set</button>
            </form>
        </div>

        <div id="lights">
            Turn off the light, Save the world!
            <form>
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </form>
        </div>

        <div id="news">
            <div id="slide-wrap"><!-- slider --></div>
            <!-- <span class="pull-right text-muted">* see console for real-time event log</span> -->
        </div>

        <div id="timechart"></div>
    </main>


    <footer>
        Copyright © Red Hot Chilli Hackers
    </footer>
</body>
</html>
@RenderBody()
