/* header */
header {
	height: 100px;
	//background: #7de554;
	background: lightblue;
}

#headercontent{
	width: 1024px;
	margin: 0 auto;
}

#pagetitle {
	font-size: 36px;
	color: white;
	line-height: 100px;
    margin: 0;
}
/* end header */

/* main content/cotainer */
main {
    width: 1024px;
    margin: 40px auto;
}

    main p {
        margin: 10px 0;
    }
/* end of main */

/* temp box */
#temp p span {
	font-size: 50px;
}

#temp p {
    width: 196px;
    float: left;
}

#temperatures {
    float: left;
    display: block;

    position: relative;

    width: 570px;
    height: 200px;

    overflow: hidden;
    overflow-y: scroll;

    text-align: left;

    border-collapse: collapse;

    margin: 0 31px;
}

#temperatures tr:nth-child(even) {
    background-color: #f2f2f2
}

#temperatures td, #temperatures th {
    padding: 10px 10px 10px 20px;
}


#temperatures th {
    width: 200px;
    background-color: lightblue;
    color: white;
}
/* end temp box*/

/* footer */
footer {
	/*
    position: fixed;
	bottom: 0;
    */
	
	/* text */
	font-size: 20px;
	color: white;
	line-height: 100px;
	text-align: center;
	
	display: block;
	width: 100%;
	//background: #7de554;
	background: lightblue;
	height: 100px;	
}
/* end footer */

/* termostat setter */
#termostat {
    margin: 50px 0;
}
/* end of termostat */

/* termostat setter */
#lights {
    margin: 200px 0 50px 0;
}

timechart {
    z-index: 1 !important;
}

#setDifferentWattage {
    margin: -30px 0 0 0;
    z-index: 100 !important;
}
/* end of termostat */

/* news box*/
#news {
    margin: 200px 0 50px 0;
}
/* end news box*/

/* clear */
.clear {
    clear: both;
}


/* toggle buttons */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    .switch input {
        display: none;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }
/* end of toggle buttons */