/* header */
header {
	height: 100px;
	//background: #7de554;
	background: lightblue;
}

#headercontent{
	width: 1024px;
	margin: 0 auto;
}

#pagetitle {
	font-size: 36px;
	color: white;
	line-height: 100px;
    margin: 0;
}
/* end header */

/* main content/cotainer */
main {
    width: 1024px;
    margin: 40px auto;
}

    main p {
        margin: 10px 0;
    }
/* end of main */

/* temp box */
#temp p span {
	font-size: 50px;
}

#temp p {
    width: 127px;
    float: left;
}

#temperatures {
    float: left;
    display: block;

    position: relative;

    width: 570px;
    height: 200px;

    overflow: hidden;
    overflow-y: scroll;

    text-align: left;

    border-collapse: collapse;

    margin: 0 100px;
}

#temperatures tr:nth-child(even) {
    background-color: #f2f2f2
}

#temperatures td, #temperatures th {
    padding: 10px 10px 10px 20px;
}


#temperatures th {
    width: 200px;
    background-color: lightblue;
    color: white;
}
/* end temp box*/

/* footer */
footer {
	/*
    position: fixed;
	bottom: 0;
    */
	
	/* text */
	font-size: 20px;
	color: white;
	line-height: 100px;
	text-align: center;
	
	display: block;
	width: 100%;
	//background: #7de554;
	background: lightblue;
	height: 100px;	
}
/* end footer */

/* termostat setter */
#termostat {
    margin: 50px;
}
/* end of termostat */

/* news box*/
#news {
    margin: 50px 0;
}
/* end news box*/

/* clear */
.clear {
    clear: both;
}